.font_size{
    -fx-font-size:25px;
    -fx-font-family: Consolas;
}

.text_border_focus{
    -fx-border-color: #a39e9e;
    -fx-border-width: 2;
    -fx-border-style: segments(5, 10, 10, 10)  line-cap round ;
}

.text_bg_input{
    -fx-border-color: #a39e9e;
    -fx-border-width: 0 1 0 0;
}

.text_bg_none{
     -fx-border-color: transparent;
     -fx-border-width: 0 1 0 0;
 }

.text_select{
    -fx-background-color: #a39e9e;
}

.test{
    -fx-border-color: #a39e9e;
    -fx-border-width: 1 1 1 1;
}